<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Outrights</title>

<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
	<div th:fragment="content">
		<H1 class="text-center">
			<span
				th:text="${tournament.category.sport.nameRu != null} ? ${tournament.category.sport.nameRu} : ${tournament.category.sport.nameEn}"></span>,
			<span
				th:text="${tournament.category.nameRu !=null} ? ${tournament.category.nameRu} : ${tournament.category.nameEn}"></span>,
			<span
				th:text="${tournament.nameRu != null} ? ${tournament.nameRu}: ${tournament.nameEn}"></span>
		</H1>
		<hr />
		<div th:id="${match.matchId}" th:each="match : ${matches}">
			<div class="row">
				<div class="col-xs-3 col-md-3">
					<h3>
						<span
							th:text="${#dates.format(match.matchDate, 'dd.MM.yyyy HH:mm')}">matchDate</span>
					</h3>
				</div>
				<div class="col-xs-9 col-md-9">
					<h3>
						<span th:text="${match.homeTeamName}"></span> - <span
							th:text="${match.awayTeamName}"></span>
					</h3>
				</div>
			</div>

			<div class="row">
				<div class="col-md-3 col-md-3" th:if="${match.threeWayOdds != null}">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>1</th>
								<th>X</th>
								<th>2</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><span th:text="${match.threeWayOdds.homeOdd}"></span></td>
								<td><span th:text="${match.threeWayOdds.drawOdd}"></span></td>
								<td><span th:text="${match.threeWayOdds.awayOdd}"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-3 col-md-3" th:if="${match.twoWayOdds != null}">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>1</th>
								<th>2</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><span th:text="${match.twoWayOdds.homeOdd}"></span></td>
								<td><span th:text="${match.twoWayOdds.awayOdd}"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-3 col-md-3"
					th:if="${match.correctScoreOdds != null}">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th colspan="2">Корректный счет</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="correctScoreOdd : ${match.correctScoreOdds}">
								<td><span th:text="${correctScoreOdd.key}"></span></td>
								<td><span th:text="${correctScoreOdd.value}"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-3 col-md-3" th:if="${match.totalsOdds != null}">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Тотал</th>
								<th>Менее</th>
								<th>Более</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="totalsOdd : ${match.totalsOdds}">
								<td><span th:text="${totalsOdd.value.specialValue}"></span></td>
								<td><span th:text="${totalsOdd.value.underValue}"></span></td>
								<td><span th:text="${totalsOdd.value.overValue}"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-3 col-md-3" th:if="${match.handicapOdds != null}">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th colspan="3">Handicap</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="handicapOdd : ${match.handicapOdds}">
								<td><span th:text="${handicapOdd.label}"></span></td>
								<td><span th:text="${handicapOdd.team}"></span></td>
								<td><span th:text="${handicapOdd.value}"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="extra" th:if="${match.extraOdds != null}">
				<a class="btn btn-primary" role="button" data-toggle="collapse"
					th:href="${'#collapse'+match.matchId}" aria-expanded="false"
					aria-controls="collapseExample"> Подробнее...</a>

				<div class="collapse well" th:id="${'collapse'+match.matchId}">
					<div class="row">


						<div class="col-md-3 col-md-3"
							th:each="extraOddGroup : ${match.extraOdds}">
							<b><span
								th:text="#{${'match.odds.types.type' + extraOddGroup.key}}"></span></b>
							<div th:each="extraOdd : ${extraOddGroup.value}">
								<span th:text="${extraOdd.outCome}"></span> <span
									th:if="${extraOdd.specialBetValue != null}"
									th:text="${'('+extraOdd.specialBetValue+')'}"></span> - <i><span
									th:text="${extraOdd.value}"></span></i>
							</div>
						</div>


					</div>
				</div>
			</div>
			<hr />

		</div>
	</div>


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>