<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
</head>
<body>
	<div th:fragment="content">
		<script type="text/javascript">
			$(function() {
				$('.plus-trigger').click(
						function(e) {
							e.preventDefault();
							$(this).closest('.match-item-wrapper').find(
									'.extra').toggle();

						});

				$('.tournament-extra-trigger').click(
						function(e) {
							e.preventDefault();
							$(this).closest('.tournament-item-wrapper').find(
									'.extra').toggle();

						});
			});
		</script>

		<h1 style="text-align: center;">
			Линия на <span
				th:text="${#dates.format(#dates.createNow(), 'dd.MM.yyyy')}"></span>
		</h1>
		<div>
			<table class="smallwnd2 tournament-item-wrapper" style="width: 99%;"
				th:id="${tournament.key.id}" th:each="tournament : ${tournaments}">
				<tbody>
					<tr class="m_c" align="center">
						<td class="smwndcap" width="90%"><span
							th:text="${tournament.key.category.sport.nameRu != null} ? ${tournament.key.category.sport.nameRu} : ${tournament.key.category.sport.nameEn}"></span>,
							<span
							th:text="${tournament.key.category.nameRu !=null} ? ${tournament.key.category.nameRu} : ${tournament.key.category.nameEn}"></span>,
							<span
							th:text="${tournament.key.nameRu != null} ? ${tournament.key.nameRu}: ${tournament.key.nameEn}"></span>
						</td>
						<td class="smwndcap" width="10%" align="center" valign="center"
							nowrap="nowrap">- - -</td>
					</tr>
					<tr>
						<td colspan="2"><i>
								<div align="left" style="width: 96%;">
									<a href="#" class="tournament-extra-trigger"><span
										class="tab">Показать роспись</span></a><span class="tab"><a
										href="#index">Оглавление</a></span>
								</div>
						</i>
							<table class="koeftable2" cellspacing="3" cellpadding="3">
								<tbody class="match-item-wrapper"
									th:each="match : ${tournament.value}">
									<tr class="hi">
										<td width="20%" align="center">
											<div style="float: left;">
												<a href="#" class="plus-trigger"><img
													th:src="@{/css/olimp/plus.jpg}" alt="" /></a>
											</div> <span
											th:text="${#dates.format(match.matchDate, 'dd.MM.yyyy HH:mm')}">matchDate</span>
										</td>
										<td width="80%"><font class="m"><b>[<i><span
														th:text="${match.matchId}"></span></i>] <span
													th:text="${match.homeTeamName}"></span> - <span
													th:text="${match.awayTeamName}"></span>
													<div style="float: left; margin-right: 10px;">
														<a
															href="javascript:openmt(8569756,0, false, &quot;ru&quot;);"><img
															th:src="@{/css/olimp/mt.png}" alt="" /></a>
													</div>
											</b></font></td>
									</tr>
									<tr>
										<td colspan="2">
											<div class="tab">
												<div class="odd-group" th:if="${match.threeWayOdds != null}">
													<div class="odd-item">
														П1 - <b><span class="prematch-odd"
															th:id="${match.threeWayOdds.homeOddId}"
															th:text="${match.threeWayOdds.homeOdd}"> </span></b>
													</div>
													<div class="odd-item">
														X - <b><span class="prematch-odd"
															th:id="${match.threeWayOdds.drawOddId}"
															th:text="${match.threeWayOdds.drawOdd}"></span></b>
													</div>
													<div class="odd-item">
														П2 - <b><span class="prematch-odd"
															th:id="${match.threeWayOdds.awayOddId}"
															th:text="${match.threeWayOdds.awayOdd}"></span></b>
													</div>
												</div>
												<div class="odd-group" th:if="${match.twoWayOdds != null}">
													<div class="odd-item">
														П1 - <b><span class="prematch-odd"
															th:id="${match.twoWayOdds.homeOddId}"
															th:text="${match.twoWayOdds.homeOdd}"> </span></b>
													</div>
													<div class="odd-item">
														П2 - <b><span class="prematch-odd"
															th:id="${match.twoWayOdds.awayOddId}"
															th:text="${match.twoWayOdds.awayOdd}"></span></b>
													</div>
												</div>

												<div class="odd-group" th:if="${match.totalsOdds != null}">

													<div class="odd-item"
														th:each="totalsOdd : ${match.totalsOdds}">
														Тот (<span th:text="${totalsOdd.value.specialValue}"></span>)
														М - <b><span class="prematch-odd"
															th:id="${totalsOdd.value.underId}"
															th:text="${totalsOdd.value.underValue}"></span></b> Б - <b><span
															class="prematch-odd" th:id="${totalsOdd.value.overId}"
															th:text="${totalsOdd.value.overValue}"></span></b>
													</div>
												</div>
												<div class="odd-group" th:if="${match.handicapOdds != null}">

													<div class="odd-item"
														th:each="handicapOdd : ${match.handicapOdds}">
														Ф(<span th:text="${handicapOdd.label}"></span>) <span
															th:text="${handicapOdd.team}"></span> - <b><span
															class="prematch-odd" th:id="${handicapOdd.id}"
															th:text="${handicapOdd.value}"></span></b>
													</div>
												</div>

											</div> <br />
										</td>
									</tr>
									<tr>
										<td colspan="2">
											<div class="tab">
												<div class="extra" th:if="${match.extraOdds != null}">


													<div>
														<div class="row">


															<div class="odd-group"
																th:each="extraOddGroup : ${match.extraOdds}">
																<b><span
																	th:text="#{${'match.odds.types.type' + extraOddGroup.key}}"></span>:</b><br />
																<div class="odd-item"
																	th:each="extraOdd : ${extraOddGroup.value}">
																	<span th:text="${extraOdd.outCome}"></span> <span
																		th:if="${extraOdd.specialBetValue != null}"
																		th:text="${'('+extraOdd.specialBetValue+')'}"></span>
																	- <b><span class="prematch-odd"
																		th:id="${extraOdd.id}" th:text="${extraOdd.value}"></span></b>
																</div>
																<br /> <br />
															</div>


														</div>
													</div>
												</div>
											</div>
										</td>
									</tr>
								</tbody>
							</table></td>
					</tr>
				</tbody>
			</table>
			<div align="justify" id="index" style="width: 96%;">
				<hr class="hr2" />
				<a /><b>Оглавление</b><br /> <br />
				<table>
					<tbody>
						<tr th:each="tournament : ${tournaments}">
							<td><a th:href="'#'+${tournament.key.id}"><span
									th:text="${tournament.key.category.sport.nameRu != null} ? ${tournament.key.category.sport.nameRu} : ${tournament.key.category.sport.nameEn}"></span>,
									<span
									th:text="${tournament.key.category.nameRu !=null} ? ${tournament.key.category.nameRu} : ${tournament.key.category.nameEn}"></span>,
									<span
									th:text="${tournament.key.nameRu != null} ? ${tournament.key.nameRu}: ${tournament.key.nameEn}"></span>
							</a></td>
						</tr>

					</tbody>
				</table>
				<br /> <i>&nbsp;<a href="#top">Наверх</a></i>
			</div>
			<input type="hidden" name="r_max" value="11" /> <input type="hidden"
				name="currpage" value="line" />
		</div>
	</div>
</body>
</html>
