<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>NMSport - Список спортивных событий</title>




<link type="text/css" rel="stylesheet" th:href="@{/css/olimp/style.css}" />



<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Олимп - Список спортивных событий</title>

</head>
<body>


	<table class="m_c" cellspacing="0" cellpadding="0" width="100%"
		border="0">
		<tbody>
			<tr>
				<td class="menu_td" valign="middle" align="left">
					<div class="tab"></div>
				</td>
				<td class="menu_td" valign="middle" align="right">
					<table class="head_tbl">
						<tbody>
							<tr align="center">
								<td nowrap="nowrap"></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td class="with-ornament" colspan="2" height="14" />
			</tr>
		</tbody>
	</table>
	<table width="100%" cellspacing="0" cellpadding="0" border="0">
		<tbody>
			<tr>
				<td class="col_td" valign="top">

					<table class="smallwnd">
						<tbody>
							<tr class="m_c" align="middle">
								<td class="smwndcap">Сейчас в линии</td>
							</tr>
							<tr>
								<td align="center">
									<table width="90%">
										<tbody>
											<tr>
												<td class="ns" colspan="2"><a href="/betting"><b>
															<font class="txtmed" color="black">Ставки</font> Live
															(69)
													</b></a></td>
											</tr>
											<tr>
												<td class="ns" colspan="2"><a href="/betgames"><b>
															<font class="txtmed" color="black">BetGamesTV</font> <font
															id="betgamesnew" color="red" class="">NEW</font>
													</b></a></td>
											</tr>

										</tbody>
									</table>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
				<td class="central_td" valign="top">


					<h1>Линия на 06.06.2016</h1>

					<form name="BetLine" target="_blank" action="index.php"
						method="post">
						<input type="hidden" name="page" value="setbet" />
						<div id="betline">
							<table class="smallwnd2" style="width: 99%;">
								<tbody>
									<tr class="m_c" align="center">
										<td class="smwndcap" width="90%">Футбол. ЧЕ-2016.
											Групповой этап. Группа F<a name="ch2102978" />
										</td>
										<td class="smwndcap" width="10%" align="center"
											valign="center" nowrap="nowrap">- - -</td>
									</tr>
									<tr>
										<td colspan="2"><i>
												<div align="left" style="width: 96%;">
													<a href="javascript: void(0);" class="show_all_odds"
														data-champ-id="2102978"><span id="t2102978_1"
														class="tab">Показать роспись</span></a><span class="tab"><a
														href="#index">Оглавление</a></span>
												</div>
										</i>
											<table class="koeftable2" cellspacing="3" cellpadding="3">
												<tbody>
													<tr class="hi">
														<td width="20%" align="center">
															<div style="float: left;">
																<a href="javascript:loadadd(21647636, 0, 0);"><img
																	id="i21647636" th:src="@{/css/olimp/plus.jpg}" alt="" /></a>
															</div>14.06.2016 22:00
														</td>
														<td width="80%"><font class="m"><b>Австрия
																	- Венгрия
																	<div style="float: left; margin-right: 10px;">
																		<a
																			href="javascript:openmt(8569756,0, false, &quot;ru&quot;);"><img
																			th:src="@{/css/olimp/mt.png}" alt="" /></a>
																	</div>
															</b></font></td>
													</tr>
													<tr>
														<td colspan="2">
															<div class="tab" id="odd21647636"
																data-match-id="21647636" data-match-count="0"
																data-cont="0" data-champ="2102978">
																<nobr>
																	П1 -&nbsp;&nbsp;<span id="koefs_450142919.1"
																		data-select="450142919.1" data-v1="1.73" data-v2="1"
																		data-v3="1" data-match="21647636"
																		data-id="450142919.1" data-live="b1" class="koefs"><b>1.73</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	Х -&nbsp;&nbsp;<span id="koefs_450142920.1"
																		data-select="450142920.1" data-v1="3.6" data-v2="1"
																		data-v3="1" data-match="21647636"
																		data-id="450142920.1" data-live="b1" class="koefs"><b>3.6</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	П2 -&nbsp;&nbsp;<span id="koefs_450142921.1"
																		data-select="450142921.1" data-v1="5.58" data-v2="1"
																		data-v3="1" data-match="21647636"
																		data-id="450142921.1" data-live="b1" class="koefs"><b>5.58</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	1Х -&nbsp;&nbsp;<span id="koefs_450142922.1"
																		data-select="450142922.1" data-v1="1.16" data-v2="1"
																		data-v3="1" data-match="21647636"
																		data-id="450142922.1" data-live="b1" class="koefs"><b>1.16</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	12 -&nbsp;&nbsp;<span id="koefs_450142923.1"
																		data-select="450142923.1" data-v1="1.31" data-v2="1"
																		data-v3="1" data-match="21647636"
																		data-id="450142923.1" data-live="b1" class="koefs"><b>1.31</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	Х2 -&nbsp;&nbsp;<span id="koefs_450142924.1"
																		data-select="450142924.1" data-v1="2.18" data-v2="1"
																		data-v3="1" data-match="21647636"
																		data-id="450142924.1" data-live="b1" class="koefs"><b>2.18</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	Ф1(-1) -&nbsp;&nbsp;<span
																		id="koefs_450142927:21647636:2:4:-1:1"
																		data-select="21647636:2:4:-1:1" data-v1="-1"
																		data-v2="2.35" data-v3="1" data-match="21647636"
																		data-id="450142927:21647636:2:4:-1:1" data-live="b1"
																		class="koefs"><b>2.35</b></span> &nbsp;
																</nobr>
																<nobr>
																	Ф2(1) -&nbsp;&nbsp;<span
																		id="koefs_450142928:21647636:2:4:1:2"
																		data-select="21647636:2:4:1:2" data-v1="1"
																		data-v2="1.63" data-v3="1" data-match="21647636"
																		data-id="450142928:21647636:2:4:1:2" data-live="b1"
																		class="koefs"><b>1.63</b></span> &nbsp;
																</nobr>
																<nobr>
																	Тот(2.5) М -&nbsp;&nbsp;<span
																		id="koefs_450142941:21647636:2:5:2.5:1"
																		data-select="21647636:2:5:2.5:1" data-v1="2.5"
																		data-v2="1.61" data-v3="2.35" data-match="21647636"
																		data-id="450142941:21647636:2:5:2.5:1" data-live="b1"
																		class="koefs"><b>1.61</b></span> &nbsp;Б -&nbsp;&nbsp;<span
																		id="koefs_450142941:21647636:3:5:2.5:1"
																		data-select="21647636:3:5:2.5:1" data-v1="2.5"
																		data-v2="1.61" data-v3="2.35" data-match="21647636"
																		data-id="450142941:21647636:3:5:2.5:1" data-live="b1"
																		class="koefs"><b>2.35</b></span> &nbsp;
																</nobr>
															</div> <br />
														</td>
													</tr>
													<tr class="hi">
														<td width="20%" align="center">
															<div style="float: left;">
																<a href="javascript:loadadd(21647637, 1, 1);"><img
																	id="i21647637" th:src="@{/css/olimp/plus.jpg}" alt="" /></a>
															</div>15.06.2016 01:00
														</td>
														<td width="80%"><font class="m"><b>Португалия
																	- Исландия
																	<div style="float: left; margin-right: 10px;">
																		<a
																			href="javascript:openmt(8569758,0, false, &quot;ru&quot;);"><img
																			th:src="@{/css/olimp/mt.png}" alt="" /></a>
																	</div>
															</b></font></td>
													</tr>
													<tr>
														<td colspan="2">
															<div class="tab" id="odd21647637"
																data-match-id="21647637" data-match-count="1"
																data-cont="1" data-champ="2102978">
																<nobr>
																	П1 -&nbsp;&nbsp;<span id="koefs_450143083.1"
																		data-select="450143083.1" data-v1="1.64" data-v2="1"
																		data-v3="1" data-match="21647637"
																		data-id="450143083.1" data-live="b2" class="koefs"><b>1.64</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	Х -&nbsp;&nbsp;<span id="koefs_450143084.1"
																		data-select="450143084.1" data-v1="3.77" data-v2="1"
																		data-v3="1" data-match="21647637"
																		data-id="450143084.1" data-live="b2" class="koefs"><b>3.77</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	П2 -&nbsp;&nbsp;<span id="koefs_450143085.1"
																		data-select="450143085.1" data-v1="6.36" data-v2="1"
																		data-v3="1" data-match="21647637"
																		data-id="450143085.1" data-live="b2" class="koefs"><b>6.36</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	1Х -&nbsp;&nbsp;<span id="koefs_450143086.1"
																		data-select="450143086.1" data-v1="1.13" data-v2="1"
																		data-v3="1" data-match="21647637"
																		data-id="450143086.1" data-live="b2" class="koefs"><b>1.13</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	12 -&nbsp;&nbsp;<span id="koefs_450143087.1"
																		data-select="450143087.1" data-v1="1.29" data-v2="1"
																		data-v3="1" data-match="21647637"
																		data-id="450143087.1" data-live="b2" class="koefs"><b>1.29</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	Х2 -&nbsp;&nbsp;<span id="koefs_450143088.1"
																		data-select="450143088.1" data-v1="2.36" data-v2="1"
																		data-v3="1" data-match="21647637"
																		data-id="450143088.1" data-live="b2" class="koefs"><b>2.36</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	Ф1(-1) -&nbsp;&nbsp;<span
																		id="koefs_450143091:21647637:2:4:-1:1"
																		data-select="21647637:2:4:-1:1" data-v1="-1"
																		data-v2="2.15" data-v3="1" data-match="21647637"
																		data-id="450143091:21647637:2:4:-1:1" data-live="b2"
																		class="koefs"><b>2.15</b></span> &nbsp;
																</nobr>
																<nobr>
																	Ф2(1) -&nbsp;&nbsp;<span
																		id="koefs_450143092:21647637:2:4:1:2"
																		data-select="21647637:2:4:1:2" data-v1="1"
																		data-v2="1.74" data-v3="1" data-match="21647637"
																		data-id="450143092:21647637:2:4:1:2" data-live="b2"
																		class="koefs"><b>1.74</b></span> &nbsp;
																</nobr>
																<nobr>
																	Тот(2.5) М -&nbsp;&nbsp;<span
																		id="koefs_450143105:21647637:2:5:2.5:1"
																		data-select="21647637:2:5:2.5:1" data-v1="2.5"
																		data-v2="1.61" data-v3="2.36" data-match="21647637"
																		data-id="450143105:21647637:2:5:2.5:1" data-live="b2"
																		class="koefs"><b>1.61</b></span> &nbsp;Б -&nbsp;&nbsp;<span
																		id="koefs_450143105:21647637:3:5:2.5:1"
																		data-select="21647637:3:5:2.5:1" data-v1="2.5"
																		data-v2="1.61" data-v3="2.36" data-match="21647637"
																		data-id="450143105:21647637:3:5:2.5:1" data-live="b2"
																		class="koefs"><b>2.36</b></span> &nbsp;
																</nobr>
															</div> <br />
														</td>
													</tr>
													<tr class="hi">
														<td width="20%" align="center">
															<div style="float: left;">
																<a href="javascript:loadadd(21834674, 2, 2);"><img
																	id="i21834674" th:src="@{/css/olimp/plus.jpg}" alt="" /></a>
															</div>18.06.2016 22:00
														</td>
														<td width="80%"><font class="m"><b>Исландия
																	- Венгрия
																	<div style="float: left; margin-right: 10px;">
																		<a
																			href="javascript:openmt(8569800,0, false, &quot;ru&quot;);"><img
																			th:src="@{/css/olimp/mt.png}" alt="" /></a>
																	</div>
															</b></font></td>
													</tr>
													<tr>
														<td colspan="2">
															<div class="tab" id="odd21834674"
																data-match-id="21834674" data-match-count="2"
																data-cont="2" data-champ="2102978">
																<nobr>
																	П1 -&nbsp;&nbsp;<span id="koefs_454220218.1"
																		data-select="454220218.1" data-v1="2.39" data-v2="1"
																		data-v3="1" data-match="21834674"
																		data-id="454220218.1" data-live="b3" class="koefs"><b>2.39</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	Х -&nbsp;&nbsp;<span id="koefs_454220219.1"
																		data-select="454220219.1" data-v1="3.24" data-v2="1"
																		data-v3="1" data-match="21834674"
																		data-id="454220219.1" data-live="b3" class="koefs"><b>3.24</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	П2 -&nbsp;&nbsp;<span id="koefs_454220220.1"
																		data-select="454220220.1" data-v1="3.29" data-v2="1"
																		data-v3="1" data-match="21834674"
																		data-id="454220220.1" data-live="b3" class="koefs"><b>3.29</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	1Х -&nbsp;&nbsp;<span id="koefs_454220221.1"
																		data-select="454220221.1" data-v1="1.37" data-v2="1"
																		data-v3="1" data-match="21834674"
																		data-id="454220221.1" data-live="b3" class="koefs"><b>1.37</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	12 -&nbsp;&nbsp;<span id="koefs_454220222.1"
																		data-select="454220222.1" data-v1="1.37" data-v2="1"
																		data-v3="1" data-match="21834674"
																		data-id="454220222.1" data-live="b3" class="koefs"><b>1.37</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	Х2 -&nbsp;&nbsp;<span id="koefs_454220223.1"
																		data-select="454220223.1" data-v1="1.62" data-v2="1"
																		data-v3="1" data-match="21834674"
																		data-id="454220223.1" data-live="b3" class="koefs"><b>1.62</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	Ф1(-1) -&nbsp;&nbsp;<span
																		id="koefs_454220226:21834674:2:4:-1:1"
																		data-select="21834674:2:4:-1:1" data-v1="-1"
																		data-v2="3.88" data-v3="1" data-match="21834674"
																		data-id="454220226:21834674:2:4:-1:1" data-live="b3"
																		class="koefs"><b>3.88</b></span> &nbsp;
																</nobr>
																<nobr>
																	Ф2(1) -&nbsp;&nbsp;<span
																		id="koefs_454220227:21834674:2:4:1:2"
																		data-select="21834674:2:4:1:2" data-v1="1"
																		data-v2="1.27" data-v3="1" data-match="21834674"
																		data-id="454220227:21834674:2:4:1:2" data-live="b3"
																		class="koefs"><b>1.27</b></span> &nbsp;
																</nobr>
																<nobr>
																	Тот(2.5) М -&nbsp;&nbsp;<span
																		id="koefs_454220240:21834674:2:5:2.5:1"
																		data-select="21834674:2:5:2.5:1" data-v1="2.5"
																		data-v2="1.61" data-v3="2.36" data-match="21834674"
																		data-id="454220240:21834674:2:5:2.5:1" data-live="b3"
																		class="koefs"><b>1.61</b></span> &nbsp;Б -&nbsp;&nbsp;<span
																		id="koefs_454220240:21834674:3:5:2.5:1"
																		data-select="21834674:3:5:2.5:1" data-v1="2.5"
																		data-v2="1.61" data-v3="2.36" data-match="21834674"
																		data-id="454220240:21834674:3:5:2.5:1" data-live="b3"
																		class="koefs"><b>2.36</b></span> &nbsp;
																</nobr>
															</div> <br />
														</td>
													</tr>
													<tr class="hi">
														<td width="20%" align="center">
															<div style="float: left;">
																<a href="javascript:loadadd(21834717, 3, 3);"><img
																	id="i21834717" th:src="@{/css/olimp/plus.jpg}" alt="" /></a>
															</div>19.06.2016 01:00
														</td>
														<td width="80%"><font class="m"><b>Португалия
																	- Австрия
																	<div style="float: left; margin-right: 10px;">
																		<a
																			href="javascript:openmt(8569802,0, false, &quot;ru&quot;);"><img
																			th:src="@{/css/olimp/mt.png}" alt="" /></a>
																	</div>
															</b></font></td>
													</tr>
													<tr>
														<td colspan="2">
															<div class="tab" id="odd21834717"
																data-match-id="21834717" data-match-count="3"
																data-cont="3" data-champ="2102978">
																<nobr>
																	П1 -&nbsp;&nbsp;<span id="koefs_454220386.1"
																		data-select="454220386.1" data-v1="2.22" data-v2="1"
																		data-v3="1" data-match="21834717"
																		data-id="454220386.1" data-live="b4" class="koefs"><b>2.22</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	Х -&nbsp;&nbsp;<span id="koefs_454220387.1"
																		data-select="454220387.1" data-v1="3.31" data-v2="1"
																		data-v3="1" data-match="21834717"
																		data-id="454220387.1" data-live="b4" class="koefs"><b>3.31</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	П2 -&nbsp;&nbsp;<span id="koefs_454220388.1"
																		data-select="454220388.1" data-v1="3.6" data-v2="1"
																		data-v3="1" data-match="21834717"
																		data-id="454220388.1" data-live="b4" class="koefs"><b>3.6</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	1Х -&nbsp;&nbsp;<span id="koefs_454220389.1"
																		data-select="454220389.1" data-v1="1.32" data-v2="1"
																		data-v3="1" data-match="21834717"
																		data-id="454220389.1" data-live="b4" class="koefs"><b>1.32</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	12 -&nbsp;&nbsp;<span id="koefs_454220390.1"
																		data-select="454220390.1" data-v1="1.36" data-v2="1"
																		data-v3="1" data-match="21834717"
																		data-id="454220390.1" data-live="b4" class="koefs"><b>1.36</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	Х2 -&nbsp;&nbsp;<span id="koefs_454220391.1"
																		data-select="454220391.1" data-v1="1.71" data-v2="1"
																		data-v3="1" data-match="21834717"
																		data-id="454220391.1" data-live="b4" class="koefs"><b>1.71</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	Ф1(-1) -&nbsp;&nbsp;<span
																		id="koefs_454220394:21834717:2:4:-1:1"
																		data-select="21834717:2:4:-1:1" data-v1="-1"
																		data-v2="3.47" data-v3="1" data-match="21834717"
																		data-id="454220394:21834717:2:4:-1:1" data-live="b4"
																		class="koefs"><b>3.47</b></span> &nbsp;
																</nobr>
																<nobr>
																	Ф2(1) -&nbsp;&nbsp;<span
																		id="koefs_454220395:21834717:2:4:1:2"
																		data-select="21834717:2:4:1:2" data-v1="1"
																		data-v2="1.32" data-v3="1" data-match="21834717"
																		data-id="454220395:21834717:2:4:1:2" data-live="b4"
																		class="koefs"><b>1.32</b></span> &nbsp;
																</nobr>
																<nobr>
																	Тот(2.5) М -&nbsp;&nbsp;<span
																		id="koefs_454220408:21834717:2:5:2.5:1"
																		data-select="21834717:2:5:2.5:1" data-v1="2.5"
																		data-v2="1.61" data-v3="2.36" data-match="21834717"
																		data-id="454220408:21834717:2:5:2.5:1" data-live="b4"
																		class="koefs"><b>1.61</b></span> &nbsp;Б -&nbsp;&nbsp;<span
																		id="koefs_454220408:21834717:3:5:2.5:1"
																		data-select="21834717:3:5:2.5:1" data-v1="2.5"
																		data-v2="1.61" data-v3="2.36" data-match="21834717"
																		data-id="454220408:21834717:3:5:2.5:1" data-live="b4"
																		class="koefs"><b>2.36</b></span> &nbsp;
																</nobr>
															</div> <br />
														</td>
													</tr>
													<tr class="hi">
														<td width="20%" align="center">
															<div style="float: left;">
																<a href="javascript:loadadd(21834719, 4, 4);"><img
																	id="i21834719" th:src="@{/css/olimp/plus.jpg}" alt="" /></a>
															</div>22.06.2016 22:00
														</td>
														<td width="80%"><font class="m"><b>Исландия
																	- Австрия
																	<div style="float: left; margin-right: 10px;">
																		<a
																			href="javascript:openmt(8569806,0, false, &quot;ru&quot;);"><img
																			th:src="@{/css/olimp/mt.png}" alt="" /></a>
																	</div>
															</b></font></td>
													</tr>
													<tr>
														<td colspan="2">
															<div class="tab" id="odd21834719"
																data-match-id="21834719" data-match-count="4"
																data-cont="4" data-champ="2102978">
																<nobr>
																	П1 -&nbsp;&nbsp;<span id="koefs_454220713.1"
																		data-select="454220713.1" data-v1="4.04" data-v2="1"
																		data-v3="1" data-match="21834719"
																		data-id="454220713.1" data-live="b5" class="koefs"><b>4.04</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	Х -&nbsp;&nbsp;<span id="koefs_454220714.1"
																		data-select="454220714.1" data-v1="3.45" data-v2="1"
																		data-v3="1" data-match="21834719"
																		data-id="454220714.1" data-live="b5" class="koefs"><b>3.45</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	П2 -&nbsp;&nbsp;<span id="koefs_454220715.1"
																		data-select="454220715.1" data-v1="2.02" data-v2="1"
																		data-v3="1" data-match="21834719"
																		data-id="454220715.1" data-live="b5" class="koefs"><b>2.02</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	1Х -&nbsp;&nbsp;<span id="koefs_454220716.1"
																		data-select="454220716.1" data-v1="1.85" data-v2="1"
																		data-v3="1" data-match="21834719"
																		data-id="454220716.1" data-live="b5" class="koefs"><b>1.85</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	12 -&nbsp;&nbsp;<span id="koefs_454220717.1"
																		data-select="454220717.1" data-v1="1.34" data-v2="1"
																		data-v3="1" data-match="21834719"
																		data-id="454220717.1" data-live="b5" class="koefs"><b>1.34</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	Х2 -&nbsp;&nbsp;<span id="koefs_454220718.1"
																		data-select="454220718.1" data-v1="1.26" data-v2="1"
																		data-v3="1" data-match="21834719"
																		data-id="454220718.1" data-live="b5" class="koefs"><b>1.26</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	Ф1(1) -&nbsp;&nbsp;<span
																		id="koefs_454220721:21834719:2:4:1:1"
																		data-select="21834719:2:4:1:1" data-v1="1"
																		data-v2="1.43" data-v3="1" data-match="21834719"
																		data-id="454220721:21834719:2:4:1:1" data-live="b5"
																		class="koefs"><b>1.43</b></span> &nbsp;
																</nobr>
																<nobr>
																	Ф2(-1) -&nbsp;&nbsp;<span
																		id="koefs_454220722:21834719:2:4:-1:2"
																		data-select="21834719:2:4:-1:2" data-v1="-1"
																		data-v2="2.91" data-v3="1" data-match="21834719"
																		data-id="454220722:21834719:2:4:-1:2" data-live="b5"
																		class="koefs"><b>2.91</b></span> &nbsp;
																</nobr>
																<nobr>
																	Тот(2.5) М -&nbsp;&nbsp;<span
																		id="koefs_454220737:21834719:2:5:2.5:1"
																		data-select="21834719:2:5:2.5:1" data-v1="2.5"
																		data-v2="1.74" data-v3="2.15" data-match="21834719"
																		data-id="454220737:21834719:2:5:2.5:1" data-live="b5"
																		class="koefs"><b>1.74</b></span> &nbsp;Б -&nbsp;&nbsp;<span
																		id="koefs_454220737:21834719:3:5:2.5:1"
																		data-select="21834719:3:5:2.5:1" data-v1="2.5"
																		data-v2="1.74" data-v3="2.15" data-match="21834719"
																		data-id="454220737:21834719:3:5:2.5:1" data-live="b5"
																		class="koefs"><b>2.15</b></span> &nbsp;
																</nobr>
															</div> <br />
														</td>
													</tr>
													<tr class="hi">
														<td width="20%" align="center">
															<div style="float: left;">
																<a href="javascript:loadadd(21834718, 5, 5);"><img
																	id="i21834718" th:src="@{/css/olimp/plus.jpg}" alt="" /></a>
															</div>22.06.2016 22:00
														</td>
														<td width="80%"><font class="m"><b>Венгрия
																	- Португалия
																	<div style="float: left; margin-right: 10px;">
																		<a
																			href="javascript:openmt(8569804,0, false, &quot;ru&quot;);"><img
																			th:src="@{/css/olimp/mt.png}" alt="" /></a>
																	</div>
															</b></font></td>
													</tr>
													<tr>
														<td colspan="2">
															<div class="tab" id="odd21834718"
																data-match-id="21834718" data-match-count="5"
																data-cont="5" data-champ="2102978">
																<nobr>
																	П1 -&nbsp;&nbsp;<span id="koefs_454220547.1"
																		data-select="454220547.1" data-v1="6.15" data-v2="1"
																		data-v3="1" data-match="21834718"
																		data-id="454220547.1" data-live="b6" class="koefs"><b>6.15</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	Х -&nbsp;&nbsp;<span id="koefs_454220548.1"
																		data-select="454220548.1" data-v1="4.08" data-v2="1"
																		data-v3="1" data-match="21834718"
																		data-id="454220548.1" data-live="b6" class="koefs"><b>4.08</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	П2 -&nbsp;&nbsp;<span id="koefs_454220549.1"
																		data-select="454220549.1" data-v1="1.61" data-v2="1"
																		data-v3="1" data-match="21834718"
																		data-id="454220549.1" data-live="b6" class="koefs"><b>1.61</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	1Х -&nbsp;&nbsp;<span id="koefs_454220550.1"
																		data-select="454220550.1" data-v1="2.43" data-v2="1"
																		data-v3="1" data-match="21834718"
																		data-id="454220550.1" data-live="b6" class="koefs"><b>2.43</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	12 -&nbsp;&nbsp;<span id="koefs_454220551.1"
																		data-select="454220551.1" data-v1="1.27" data-v2="1"
																		data-v3="1" data-match="21834718"
																		data-id="454220551.1" data-live="b6" class="koefs"><b>1.27</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	Х2 -&nbsp;&nbsp;<span id="koefs_454220552.1"
																		data-select="454220552.1" data-v1="1.14" data-v2="1"
																		data-v3="1" data-match="21834718"
																		data-id="454220552.1" data-live="b6" class="koefs"><b>1.14</b></span>
																	&nbsp;
																</nobr>
																<nobr>
																	Ф1(1) -&nbsp;&nbsp;<span
																		id="koefs_454220555:21834718:2:4:1:1"
																		data-select="21834718:2:4:1:1" data-v1="1"
																		data-v2="1.83" data-v3="1" data-match="21834718"
																		data-id="454220555:21834718:2:4:1:1" data-live="b6"
																		class="koefs"><b>1.83</b></span> &nbsp;
																</nobr>
																<nobr>
																	Ф2(-1) -&nbsp;&nbsp;<span
																		id="koefs_454220556:21834718:2:4:-1:2"
																		data-select="21834718:2:4:-1:2" data-v1="-1"
																		data-v2="2.02" data-v3="1" data-match="21834718"
																		data-id="454220556:21834718:2:4:-1:2" data-live="b6"
																		class="koefs"><b>2.02</b></span> &nbsp;
																</nobr>
																<nobr>
																	Тот(2.5) М -&nbsp;&nbsp;<span
																		id="koefs_454220571:21834718:2:5:2.5:1"
																		data-select="21834718:2:5:2.5:1" data-v1="2.5"
																		data-v2="1.8" data-v3="2.07" data-match="21834718"
																		data-id="454220571:21834718:2:5:2.5:1" data-live="b6"
																		class="koefs"><b>1.8</b></span> &nbsp;Б -&nbsp;&nbsp;<span
																		id="koefs_454220571:21834718:3:5:2.5:1"
																		data-select="21834718:3:5:2.5:1" data-v1="2.5"
																		data-v2="1.8" data-v3="2.07" data-match="21834718"
																		data-id="454220571:21834718:3:5:2.5:1" data-live="b6"
																		class="koefs"><b>2.07</b></span> &nbsp;
																</nobr>
															</div>
														</td>
													</tr>
												</tbody>
											</table></td>
									</tr>
								</tbody>
							</table>
							<div align="justify" style="width: 96%;">
								<hr class="hr2" />
								<a name="index" /><b>Оглавление</b><br /> <br />
								<table>
									<tbody>
										<tr>
											<td valign="top" align="left"><i><a
													href="#ch2102978">Футбол. ЧЕ-2016. Групповой этап.
														Группа F</a><br /></i></td>
										</tr>
									</tbody>
								</table>
								<br /> <i>&nbsp;<a href="#top">Наверх</a></i>
							</div>
							<input type="hidden" name="r_max" value="11" /><input
								type="hidden" name="currpage" value="line" />
						</div>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
	<hr class="hr1" />

</body>
</html>
