<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Outrights</title>

<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div  style="margin-top: 20px;" th:fragment="subpage">
		<h4>Ваши текущие ставки</h4>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>№</th>
					<th>Ставка победила</th>
					<th>Сумма ставки</th>
					<th>Сумма выйгрыша</th>
					<th>Коэффициент</th>
				</tr>
			</thead>
			<tbody>
				<tr th:id="${bet.id}" th:each="bet : ${bets}">
					<td><span th:text="${bet.id}"></span></td>
					<td><span th:text="${bet.wins}"></span></td>
					<td><span th:text="${bet.betAmount}"></span></td>
					<td><span th:text="${bet.winAmount}"></span></td>
					<td><span th:text="${bet.oddValue}"></span></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>