<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
</head>
<body>
	<div th:fragment="content">
		<h1 style="text-align: center;">История</h1>

		<table class="smallwnd2" style="WIDTH: 96%;">
			<tbody>
				<tr class="m_c" align="middle">
					<td class="smwndcap" valign="middle" width="10%">Дата</td>
					<td class="smwndcap" valign="middle" width="80%">Данные ставки</td>
					<td class="smwndcap" valign="middle" width="10%">Сумма</td>
				</tr>
				<tr valign="top" th:each="bet : ${bets.content}">
					<td class="txtmed"><span
						th:text="${#dates.format(bet.createDate, 'dd.MM.yyyy HH:mm')}"></span></td>
					<td><b>#<span th:text="${bet.id}"></span>. Ординар. <i
							th:if="${bet.winAmount !=null }">Выплата: <span
								th:text="${#numbers.formatDecimal(bet.winAmount,2,2)}"></span></i></b>
						<table class="bettable">
							<tbody>
								<tr class="kh">
									<td width="15%">Дата</td>
									<td width="41%">Матч</td>
									<td width="25%">Ставка</td>
									<td width="19%">Статус</td>
								</tr>
								<tr class="hi" th:each="liveOddInfo : ${bet.liveOddInfos}">
									<td>Live</td>
									<td><span th:text="${liveOddInfo.info}"></span></td>
									<td><span th:if="${liveOddInfo.wins == null}">Нерассчитанные</span><span
										th:if="${liveOddInfo.wins}">Выйграло</span><span
										th:if="${liveOddInfo.wins == false}">Проиграло</span></td>
								</tr>
								<tr class="hi" th:each="liveOddInfo : ${bet.prematchOddInfos}">
									<td>Линия</td>

									<td><span th:text="${liveOddInfo.matchInfoBean.shortInfo}"></span></td>
									<td><span th:text="${liveOddInfo.info}"></span></td>
									<td><span th:if="${liveOddInfo.wins == null}">Нерассчитанные</span><span
										th:if="${liveOddInfo.wins}">Выйграло</span><span
										th:if="${liveOddInfo.wins == false}">Проиграло</span></td>
								</tr>
							</tbody>
						</table></td>
					<td><b><span th:text="${bet.betAmount}"></span></b></td>
				</tr>


			</tbody>
		</table>

		<div class="table-pagination">
			<ul class="pagination">
				<li>
					Страница
				</li>
				<li th:each="pageNo : ${#numbers.sequence(0, bets.totalPages - 1)}"
					th:class="${bets.number eq pageNo}? 'active' : ''"><span th:if="${bets.number  eq pageNo}"
					th:text="${pageNo + 1}"></span> <a
					th:if="${not (bets.number  eq pageNo)}"
					th:href="@{${'/client/history'}(page=${pageNo},size=${bets.size})}">
						<span th:text="${pageNo + 1}"></span>
				</a></li>

			</ul>
		</div>
	</div>
</body>
</html>
