<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

</head>
<div th:fragment="basket">
	<link type="text/css" rel="stylesheet" th:href="@{/css/basket.css}" />

	<script th:src="@{/js/basket.js}"></script>
	<div id="betslip1" style="" class="">

		<input type="hidden" id="liveBetAction"
			th:value="@{/client/live/bet/create}" /> <input type="hidden"
			id="liveInfoAction" th:value="@{/client/live/oddInfo}" /> <input
			type="hidden" id="prematchInfoAction"
			th:value="@{/client/prematch/oddInfo}" /> <input type="hidden"
			id="prematchBetAction" th:value="@{/client/prematch/bet/create}" />
		<input type="hidden" id="prematchBetsAction"
			th:value="@{/client/prematch/bets/create}" />
		<div>
			<div id="nm-basket" class="busket">
				<div class="busket-header">
					<div class="busket-title">КУПОН</div>
				</div>
				<div class="clear"></div>
				<div style="float: left" class="quick_stake">
					<div style="float: left">
						<span style="margin: auto 3px">БЫСТРАЯ СТАВКА</span>
					</div>
					<div class="onoffswitch" style="float: right">
						<input type="checkbox" name="onoffswitch"
							class="onoffswitch-checkbox" id="myonoffswitch" checked="" /> <label
							class="onoffswitch-label" for="myonoffswitch"> <span
							class="onoffswitch-inner"></span> <span
							class="onoffswitch-switch"></span>
						</label>
					</div>
				</div>
				<div class="clear"></div>

				<div id="wraper_basket">
					<div class="clear"></div>
					<div class="busket-nav" style="display: none;">
						<a data-type="1" id="bn1" style="width: 41%;" href="#"
							class="active">ОРДИНАР</a> <a data-type="2" id="bn2"
							style="width: 45%;" href="#">ЭКСПРЕСС </a>
					</div>
					<input type="hidden" id="busket-nav" value="1" />
					<div class="clear"></div>
					<div id="error-wraper" style="display: none;">
						<div class="rekoeff-infoblock">
							<div>
								<table>
									<tbody>
										<tr>
											<td><img th:src="@{/img/warning.png}" alt="warning" /></td>
											<td><span style="line-height: 12px;"
												th:if="${basketErrorMsg != null }"
												th:text="${basketErrorMsg}"></span></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<form name="F1" method="post" style="margin-bottom: 0;">
						<div class="busket-body">
							<div class="busket-item"></div>
							<div class="busket-item">
								<div class="busket-item-body">
									<div class="busket-pay">
										<table width="245" height="30">
											<tbody>
												<tr class="second-line">
													<td><span class="summ-basket"><input
															class="loginbox" name="oc_summ" id="oc_summ"
															type="number" value="50" placeholder="Сумма" step="10"
															min="0" /></span></td>
													<td><span><input id="save-oc-button"
															type="button" class="enabled2 msbtn_basket" data-sum="50"
															value="Сохранить" /></span></td>
												</tr>
											</tbody>
										</table>
										<div style="margin: 1px 0px 0px 4px">Принимать с
											изменёнными коэффициентами:</div>
										<div>
											<div width="250px">
												<div class="radio-item">
													<div class="radio-box">
														<input value="1" id="b_never" name="save_any" type="radio" />
													</div>
													<div class="radio-text">
														<label for="b_never" class="radio-label">никогда</label>
													</div>
												</div>
												<div class="radio-item">
													<div class="radio-box">
														<label for="b_uper"><input value="2" id="b_uper"
															name="save_any" type="radio"
															style="vertical-align: middle" /> </label>
													</div>
													<div class="radio-text">
														<label for="b_uper" class="radio-label">при
															повышении</label>
													</div>
												</div>
												<div class="radio-item">
													<div class="radio-box">
														<input value="3" id="b_ever" name="save_any" type="radio"
															style="vertical-align: middle" checked="" />
													</div>
													<div class="radio-text">
														<label for="b_ever" class="radio-label">всегда</label>
													</div>
												</div>
											</div>
										</div>
										<div class="clear"></div>
									</div>
									<div class="bet-infoblock">
										<div id="fastrezult"></div>
									</div>
									<div id="fastBetInfo" class="alert-infoblock">
										Вы активировали режим быстрой ставки. Для ознакомления с
										правилами, пожалуйста, нажмите <a th:href="@{/nm/rules}">здесь</a>
									</div>
								</div>

							</div>
						</div>


						<div id="regularMode" class="busket-body hide">							
							<div class="clear"></div>
							<div class="busket-pay">
								<div class="busket-item-clear">
									<span class="clearAllbasket">ОЧИСТИТЬ</span>
								</div>
								<div class="clear"></div>
								<table width="245">
									<tbody>
										<tr height="25" class="first-line">
											<td style="padding: 3px; width: 200px"><span>Общий
													коэфициент</span></td>
											<td><span class="koef" id="ex_kef_sum">1.00</span></td>
										</tr>
									</tbody>
								</table>
								
								<div class="clear"></div>
								<div>
									<button name="formsubmit" type="button"
										class="btn-clear-pay_busket submit">Сделать ставку</button>
								</div>
								<div class="clear"></div>
							</div>
						</div>
					</form>
					<div class="clear"></div>
					<div id="betok" class="warning-infoblock hide">
						<div>
							<img th:src="@{/img/accept.png}" alt="warning" /> Ваша ставка
							была принята
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>

		</div>
		<div class="bs-clear">
			<br />
		</div>


		<div id="busket-item-template" class="hide">
			<div class="busket-item-delete">
				<img th:src="@{/img/delete-item-busket.png}" />
			</div>
			<div class="busket-item-body">
				<table width="210">
					<tbody>
						<tr>
							<td></td>
							<td class="busket-item-name"><b class="match-info-wrapper"></b></td>
						</tr>
					</tbody>
				</table>
				<div>
					<table width="245">
						<tbody>
							<tr class="first-line">
								<td class="koef" colspan="2"><span class="bet-info-wrapper koef value"></span></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
</html>