<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div th:fragment="sidebar">

	<script th:src="@{/js/jquery.selectric.js}"></script>
	<link th:href="@{/css/selectric.css}" rel="stylesheet" />
	<script>
		$(function() {
			$('#langs')
					.selectric(
							{
								optionsItemBuilder : function(itemData,
										element, index) {
									return element.val().length ? '<span class="ico ico-'
											+ index
											+ '"></span>'
											+ itemData.text
											: itemData.text;
								}
							});
			$(".selectric p.label").prepend('<span class="ico ico-0"></span>');
			var oldVal = 'Русский';
			$('#langs')
					.on(
							'change',
							function() {
								var langs = {
									'Русский' : 0,
									'Қазақша' : 1,
									'English' : 2
								}
								var lang = $('#langs').val();
								console.log(lang);
								newVal = lang;
								if (newVal != oldVal) {
									$(".selectric p.label")
											.prepend(
													'<span class="ico ico-'+langs[lang]+'"></span>');
									oldVal = newVal;
								}

							});
		});
	</script>
	<table class="smallwnd">
		<tbody>
			<tr class="m_c" align="middle">
				<td class="smwndcap">Региональные настройки</td>
			</tr>
			<tr>
				<td align="center">
					<table cellspacing="5" width="90%" style="z-index: 1">

						<tbody>
							<tr>
								<td align="center"><nobr>Язык интерфейса:</nobr> <select
									id="langs" style="width: 100%">
										<option>Русский</option>
										<option>Қазақша</option>
										<option>English</option>

								</select></td>
							</tr>

							<tr>
								<td align="center">
									<hr class="hr2" /> <span
									th:text="${#dates.format(#dates.createNow(), 'dd.MM.yyyy HH:mm')}"></span>&nbsp;<a
									th:href="@{/}">(GMT +06:00)</a>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	<table class="smallwnd" sec:authorize="isAnonymous()">
		<tbody>
			<tr>
				<td align="middle"><br /> <a id="regl"
					th:href="@{/nm/registration}"><h1 class="fontshadcas">
							Регистрация</h1> </a> <br /></td>
			</tr>
		</tbody>
	</table>

	<table class="smallwnd" sec:authorize="isAuthenticated()">
		<tbody>
			<tr class="m_c" align="middle">
				<td colspan="2" class="smwndcap">Информация о счете</td>
			</tr>
			<tr>
				<td align="right" width="50%"><b>Логин:</b></td>
				<td align="left" width="50%"><span sec:authentication="name"></span></td>
			</tr>

			<tr>
				<td align="right" nowrap="" valign="top"><b>Сумма на счету:</b></td>
				<td align="left"><span th:text="${#numbers.formatDecimal(accountInfo.userAmount,2,2)}"></span> <i>Тенге</i></td>
			</tr>
			
		</tbody>
	</table>

	<table class="smallwnd"  sec:authorize="isAuthenticated()">
		<tbody>
			<tr class="m_c" align="middle">
				<td class="smwndcap">Операции со счетом</td>
			</tr>
			<tr>
				<td align="left">
					<ul class="ulmnu">
						<li><a th:href="@{/client/history}">История ставок</a></li>
						<li><a th:href="@{/client/account}">Пополнение
								счета</a></li>
						<li><a th:href="@{/client/withdrawal}">Снятие
								денег</a></li>
						<li><a th:href="@{/client/settings}">Настройки счета</a></li>
						<li><a th:href="@{/admin/cashboxes}">Управление кассами обналичивания</a></li>
						
						<li><a th:href="@{/logout}">Выход</a></li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>

	<form th:action="@{/login}" method="post" sec:authorize="isAnonymous()">
		<table class="smallwnd">
			<tbody>
				<tr class="m_c" align="middle">
					<td class="smwndcap">Вход в систему</td>
				</tr>
				<tr>
					<td align="middle">
						<table style="width: 96%;">
							<tbody>
								<tr>
									<td align="left">Введите Ваши данные:</td>
								</tr>
								<tr>
									<td nowrap=""><input type="text" name="username"
										placeholder="Номер в фомате 77017771234"  class="phone-number"/></td>
								</tr>
								<tr>
									<td><input type="password" name="password"
										placeholder="Пароль" /></td>
								</tr>
								<tr>
									<td nowrap="" align="middle"><a id="recl"
										href="?page=recover">Забыли данные?</a></td>
								</tr>

								<tr>
									<td align="middle"><input type="submit" value="Вход"
										class="msbtn1" /></td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>

			</tbody>
		</table>
	</form>

	<table class="smallwnd">
		<tbody>
			<tr class="m_c" align="middle">
				<td class="smwndcap">Сейчас в линии</td>
			</tr>
			<tr>
				<td align="center">
					<table width="90%">
						<tbody>
							<tr style="display: none;">
								<td class="ns" colspan="2"><a th:href="@{/nm/prematch}">Линия
								</a></td>

							</tr>
							<tr>
								<td class="ns" colspan="2"><a th:href="@{/nm/live/}"
									id="live">Live </a></td>
							</tr>

							<tr>
								<td><hr class="hr2" /></td>
							</tr>
							<tr>
								<td class="ns"><a
									th:href="@{/nm/prematch/sport?sportId=50}"><font
										class="txtmed" color="black">Футбол (125)</font></a></td>
							</tr>
							<tr>
								<td class="ns"><a
									th:href="@{/nm/prematch/sport?sportId=54}"><font
										class="txtmed" color="black">Теннис (55)</font></a></td>
							</tr>
							<tr>
								<td class="ns"><a
									th:href="@{/nm/prematch/sport?sportId=60}"><font
										class="txtmed" color="black">Регби (17)</font></a></td>
							</tr>
							<tr>
								<td class="ns"><a
									th:href="@{/nm/prematch/sport?sportId=51}"><font
										class="txtmed" color="black">Баскетбол (13)</font></a></td>
							</tr>
							<tr>
								<td class="ns"><a
									th:href="@{/nm/prematch/sport?sportId=52}"><font
										class="txtmed" color="black">Бейсбол (9)</font></a></td>
							</tr>
							<tr>
								<td class="ns"><a
									th:href="@{/nm/prematch/sport?sportId=69}"><font
										class="txtmed" color="black">Волейбол (7)</font></a></td>
							</tr>
							<tr>
								<td class="ns"><a
									th:href="@{/nm/prematch/sport?sportId=73}"><font
										class="txtmed" color="black">Футзал (4)</font></a></td>
							</tr>
							<tr>
								<td class="ns"><a
									th:href="@{/nm/prematch/sport?sportId=67}"><font
										class="txtmed" color="black">Крикет (3)</font></a></td>
							</tr>
							<tr>
								<td class="ns"><a
									th:href="@{/nm/prematch/sport?sportId=85}"><font
										class="txtmed" color="black">Песапалло (3)</font></a></td>
							</tr>
							<tr>
								<td class="ns"><a
									th:href="@{/nm/prematch/sport?sportId=59}"><font
										class="txtmed" color="black">Автоспорт (2)</font></a></td>
							</tr>
							<tr>
								<td class="ns"><a
									th:href="@{/nm/prematch/sport?sportId=64}"><font
										class="txtmed" color="black">Американский футбол (2)</font></a></td>
							</tr>
							<tr>
								<td class="ns"><a
									th:href="@{/nm/prematch/sport?sportId=75}"><font
										class="txtmed" color="black">Игра в боулз (1)</font></a></td>
							</tr>
							<tr>
								<td class="ns"><a
									th:href="@{/nm/prematch/sport?sportId=65}"><font
										class="txtmed" color="black">Снукер (1)</font></a></td>
							</tr>
							<tr>
								<td class="ns"><a
									th:href="@{/nm/prematch/sport?sportId=61}"><font
										class="txtmed" color="black">Австралийский футбол (1)</font></a></td>
							</tr>
							<tr>
								<td class="ns"><a
									th:href="@{/nm/prematch/sport?sportId=70}"><font
										class="txtmed" color="black">Хоккей на траве (1)</font></a></td>
							</tr>
							<tr>
								<td class="ns"><a
									th:href="@{/nm/prematch/sport?sportId=55}"><font
										class="txtmed" color="black">Гандбол (1)</font></a></td>
							</tr>

						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</html>