<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
</head>
<body>
	<div th:fragment="content">
		<h1 style="text-align: center;">Главная</h1>
		<table width="100%">
			<tr>
				<td width="25%"><a th:href="@{/nm/prematch/sport?sportId=50}"><img
						width="100%" th:src="@{/css/olimp/sports/soccer.jpg}" /></a></td>
				<td width="25%"><a th:href="@{/nm/prematch/sport?sportId=52}"><img
						width="100%" th:src="@{/css/olimp/sports/baseball.jpg}" /></a></td>
				<td width="25%"><a th:href="@{/nm/prematch/sport?sportId=54}"><img
						width="100%" th:src="@{/css/olimp/sports/tennis.jpg}" /></a></td>


			</tr>
			<tr>
				<td width="25%"><a th:href="@{/nm/prematch/sport?sportId=51}"><img
						width="100%" th:src="@{/css/olimp/sports/basketball.jpg}" /></a></td>
				<td width="25%"><a th:href="@{/nm/prematch/sport?sportId=58}"><img
						width="100%" th:src="@{/css/olimp/sports/boxing.jpg}" /></a></td>
				<td width="25%"><a th:href="@{/nm/prematch/sport?sportId=53}"><img
						width="100%" th:src="@{/css/olimp/sports/hockey.jpg}" /></a></td>
			</tr>
		</table>
	</div>
</body>
</html>
