<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div th:if="${match == null}">Ставки не возможны. Матч прерван или
	завершен</div>

<tbody>
	<tr class="hi">
		<td width="20%" align="center"><span
			th:text="${#dates.format(match.matchDate, 'dd.MM.yyyy HH:mm')}">matchDate</span><br />
			<i><font class="m">Онлайн</font></i></td>
		<td width="80%"><font class="m"><b>[<i><span
						th:text="${match.matchId}"></span></i>] <span
					th:text="${match.homeTeamName}"></span> - <span
					th:text="${match.awayTeamName}"></span> <br /> <font
					class="txtmed" style="color: red; display: none;">0:1 (4:6,
						0:0) 15:15</font>
			</b></font></td>
	</tr>
	<tr>
		<td colspan="2">
			<div class="tab">
				<div class="odd-group"
					th:each="liveOddGroup : ${match.liveOdds}">
					<b><span th:text="${liveOddGroup.name}"></span><span
						th:if="${liveOddGroup.specialOddsValue != null}"
						th:text="${'('+liveOddGroup.specialOddsValue+')'}"></span>:</b><br />
					<div class="odd-item"
						th:each="extraOdd : ${liveOddGroup.oddFields}">
						<span th:text="${extraOdd.type}"></span> - <i><span
							th:text="${extraOdd.value}"></span></i>
						<div th:if="${extraOdd.value &lt; extraOdd.oldValue}"
							class="todown"></div>
						<div th:if="${extraOdd.value &gt; extraOdd.oldValue}" class="toup"></div>
					</div>
					<br /> <br />
				</div>

			</div>
		</td>
	</tr>
</tbody>



</html>